$layout_color: #e6cf6a;
$animation_color: #263657;

.main_btn, .back_to_home, .copyright_footer, .newsletter_btn, .flex-control-paging li a.flex-active, .store_nav a.active_store_nav:after, .store_nav a:hover:after, .store_initial, .details_header, .back_to_list, .back_to_list:hover, .back_to_list:focus, .mobile_menu_dd, #mm_page_content h2{
    background: $layout_color;
}

.newsletter_control:focus{
    border-color: $layout_color;
}

.view_more_btn, .colored_link, .colored_link a, #mm_page_content h1, .mobile_menu li a{
    color: $layout_color;
}

.animated_btn:before{
    background: $animation_color;
}

.stores_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748312000/land_1920x150_banner_directory.jpg);
}

.events_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748278000/land_1920x150_banner_events.jpg);
}

.dine_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748294000/land_1920x150_banner_dine.jpg);
}

.jobs_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748200000/land_1920x150_banner_jobs.jpg);
}

.location_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748262000/land_1920x150_banner_location.jpg);
}

.landing-services{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748246000/land_1920x150_banner_services.jpg);
}

.landing-contact-us{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748226000/land_1920x150_banner_contact.jpg);
}

.landing-privacy-policy{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/59c533e36e6f6448251c0000/image/jpeg/1505748180000/land_1920x150_banner_privacy.jpg);
}
